@import url(https://fonts.googleapis.com/css?family=Arvo);
@import url(https://fonts.googleapis.com/css?family=Volkorn);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Cormorant);

body {
  background-image: url(../img/headerpic2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0%;
}

.main-div {
  font-family: Arvo;
}

.main-div h1 {
  margin: 0%;
  padding-top: 1%;
  color: aliceblue;
  text-align: center;
  font-size: 500%;
  text-transform: uppercase;
  text-shadow:  0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

.photo-category {
  text-align: right;
  font-family: Volkorn;
  font-size: 150%;
  padding: 0%;
}

.photo-category ul {
  list-style-type: none;
  padding-left: 0%;
  margin: 0%;
}

.photo-category li {
  display: inline-block;
  padding-left: 0%;
  padding-right: 1%;
}

.product-leftsec {
  width: 42.5%;
  margin-left: 5%;
  font-family: Muli;
  font-size: 200%;
  float: left;
}

.product-leftsec ul {
  padding-left: 0%;
  list-style-type: none;
}

.product-leftsec li {
  border: 4px solid aliceblue;
  text-align: center;
  padding: 20% 0%;
  margin-top: 2%;
  border-radius: 25px 0 25px 0;
}

.product-leftsec a {
  text-decoration: none;
  color: aliceblue;
}

.pic1 {
  background-image: url(img/nlight.jpeg);
  /* margin-top: 5%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pic2 {
  background-image: url(img/aksnow.jpeg);
  /* margin-top: 5%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-rightsec {
  width: 42.5%;
  font-family: Muli;
  font-size: 200%;
  float: right;
  margin-right: 5%;
}

.product-rightsec ul {
  padding-left: 0%;
  list-style-type: none;
}

.product-rightsec li {
  border: 4px solid aliceblue;
  text-align: center;
  padding: 20% 0%;
  margin-top: 2%;
  border-radius: 0 25px 0 25px;
}

.product-rightsec a {
  text-decoration: none;
}

.pic3 {
  background-image: url(img/Hawaii.jpeg);
  margin-top: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pic4 {
  background-image: url(img/dc.jpeg);
  margin-top: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a:link {
  color:aliceblue;
}

a:visited{
  color: tomato;
}

/* .product-div {
  text-align: left;
  font-family: Muli;
  font-size: 150%;
  width: 80%;
  margin: auto;
}*/

/* .product-div ul {
  border: 2px solid green;
  list-style-type: none;
  margin: 0%;
  padding-left: 0%;
}

.product-div li{
  display: block;
  text-align: center;
  border: 2px solid black;
  margin: 10%;
}
.product-div a {
  color: aliceblue;
  text-decoration: none;
} */

/* break down li but does not scale.  Need to find out a better way to do this.  Might be better to use another tool*/
/* .pic1 {
  border: 2px solid yellow;
  width: 45%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.pic2 {
  border: 2px solid yellow;
  width: 45%;
  margin-left: 3.9%;
  margin-bottom: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.pic3 {
  border: 2px solid yellow;
  width: 45%;
  margin-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.pic4 {
  border: 2px solid yellow;
  width: 45%;
  margin-left: 3.9%;
  padding-top: 10%;
  padding-bottom: 10%;
} */
