* {
  margin: 0em;
  padding: 0em;
}
body {
  color: #878787;
  font-size: 1em;
}

header {
  background: url(img/EklutnaLakeKayaks.jpg);
  color: white;
  height: 30vh;
  background-position: center;
  background-size: cover, fixed;
  
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}


.main-menu {
  text-align: right;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  padding: 10px;
}



